<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :logo %>
    <%= form.text_field :logo, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :mascot %>
    <%= form.text_field :mascot, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', :class => 'btn btn-secondary' %>
    <%= link_to 'Back', teams_path, :class => 'btn btn-danger', :style => 'color: white' %>
  </div>
<% end %>
