<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field form-group">
      <%= form.label :date %>
      <%= form.date_field :date, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
    </div>
    
    <div class="dropdown" style="margin: 25px 0px">
      <%= form.label :home_team %>
      <%= form.select :home_team, Team.all.collect { |t| [ t.name, t.id ] }, {include_blank: true}, {:class => "form-control"} %>
    </div>

    <div class="dropdown" style="margin: 25px, 0px">
      <%= form.label :away_team %>
      <%= form.select :away_team, Team.all.collect { |t| [ t.name, t.id ] }, {include_blank: true}, {:class => "form-control"} %>
    </div>


    <div class="actions">
        <%= form.submit 'Submit', :class => 'btn btn-secondary' %>
        <%= link_to 'Back', root_path, :class => 'btn btn-danger', :style => 'color: white' %>
    </div>
<% end %>
