<div style="margin-top: 60px">
  <h1>Games</h1>

  <table class="table" style="margin-top: 20px">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Home team</th>
        <th scope="col">Away team</th>
        <th scope="col">Scoreboard</th>
        <th scope="col" colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.date %></td>
          <td><%= Team.find(game.home_team).name %></td>
          <td><%= Team.find(game.away_team).name %></td>
          <td><%= game.scoreboard_id %></td>
          <td><%= link_to 'Show', game %></td>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td>
            <% if  Team.find(game.home_team).is_coach?(current_user) %>
              <%= link_to 'Set The Home Team Starters', game_set_starters_path(game_id:  game.id, team: 'home_team') %>
            <% end %>
            <% if  Team.find(game.away_team).is_coach?(current_user) %>
              <%= link_to 'Set The Away Team Starters', game_set_starters_path(game_id:  game.id, team: 'away_team') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br/>
  <% if current_user.admin %>
    <%= link_to 'New Game', new_game_path %>
  <% end %>
</div>
