
<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Home team:</strong>
  <%= @home_team.name %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @away_team.name %>
</p>

<p>
  <strong>Scoreboard:</strong>
  <%= @game.scoreboard_id %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
