<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Home team:</strong>
  <%= @game.home_team %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @game.away_team %>
</p>

<p>
  <strong>Scoreboard:</strong>
  <%= @game.scoreboard_id %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
