<p id="notice"><%= notice %></p>

<h1>Game Stats</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Player</th>
      <th>Pts</th>
      <th>Reb</th>
      <th>Ast</th>
      <th>Stls</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_stats.each do |game_stat| %>
      <tr>
        <td><%= game_stat.game_id %></td>
        <td><%= game_stat.player_id %></td>
        <td><%= game_stat.pts %></td>
        <td><%= game_stat.reb %></td>
        <td><%= game_stat.ast %></td>
        <td><%= game_stat.stls %></td>
        <td><%= link_to 'Show', game_stat %></td>
        <td><%= link_to 'Edit', edit_game_stat_path(game_stat) %></td>
        <td><%= link_to 'Destroy', game_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Stat', new_game_stat_path %>
