<%= form_with scope: :user, url: team_invite_player_path(team.id) do |form| %>
  <% if player_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', :class => 'btn btn-secondary' %>
    <%= link_to 'Back', team_path(team.id), :class => 'btn btn-danger', :style => 'color: white' %>
  </div>
<% end %>
